In [21]:
import pandas as pd
import numpy as np
import datetime as dt

In [44]:
data=pd.read_csv("D:\DOWNLOAD\salesdata (1).csv")
data

,Order Date,Customer Name,State,Category,Sub-Category,Sales,Quantity,Profit
0,03-01-2014,Darren Powers,Texas,Office Supplies,Paper,16.45,2,5.55
1,04-01-2014,Phillina Ober,Illinois,Office Supplies,Labels,11.78,3,4.27
2,04-01-2014,Phillina Ober,Illinois,Office Supplies,Storage,272.74,3,-64.77
3,04-01-2014,Phillina Ober,Illinois,Office Supplies,Binders,3.54,2,-5.49
4,05-01-2014,Mick Brown,Pennsylvania,Office Supplies,Art,19.54,3,4.88
...,...,...,...,...,...,...,...,...
9989,30-12-2017,Patrick O'Donnell,New York,Technology,Phones,90.93,7,2.73
9990,30-12-2017,Patrick O'Donnell,New York,Office Supplies,Binders,52.78,3,19.79
9991,30-12-2017,Erica Bern,California,Office Supplies,Binders,13.90,2,4.52
9992,30-12-2017,Erica Bern,California,Office Supplies,Binders,20.72,2,6.48
9993,30-12-2017,Jill Matthias,Colorado,Office Supplies,Fasteners,3.02,3,-0.60

In [7]:
data.shape

(9994, 8)

In [11]:
data[data.duplicated()]

,Order Date,Customer Name,State,Category,Sub-Category,Sales,Quantity,Profit
385,23-04-2014,Laurel Beltran,Ohio,Furniture,Chairs,281.37,2,-12.06

In [12]:
data.drop_duplicates(inplace=True)

In [13]:
data.shape

(9993, 8)

In [14]:
data.isna().sum()

Order Date       0
Customer Name    0
State            0
Category         0
Sub-Category     0
Sales            0
Quantity         0
Profit           0
dtype: int64

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9993 entries, 0 to 9993
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Date     9993 non-null   object
 1   Customer Name  9993 non-null   object
 2   State          9993 non-null   object
 3   Category       9993 non-null   object
 4   Sub-Category   9993 non-null   object
 5   Sales          9993 non-null   float64
 6   Quantity       9993 non-null   int64
 7   Profit         9993 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 702.6+ KB

In [16]:
data.describe(include="all")

,Order Date,Customer Name,State,Category,Sub-Category,Sales,Quantity,Profit
count,9993,9993,9993,9993,9993,9993.000000,9993.000000,9993.000000
unique,1237,793,49,3,17,NaN,NaN,NaN
top,05-09-2016,William Brown,California,Office Supplies,Binders,NaN,NaN,NaN
freq,38,37,2001,6026,1523,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,229.852867,3.789753,28.661048
std,NaN,NaN,NaN,NaN,NaN,623.276104,2.225149,234.271571
min,NaN,NaN,NaN,NaN,NaN,0.440000,1.000000,-6599.980000
25%,NaN,NaN,NaN,NaN,NaN,17.280000,2.000000,1.730000
50%,NaN,NaN,NaN,NaN,NaN,54.480000,3.000000,8.670000
75%,NaN,NaN,NaN,NaN,NaN,209.940000,5.000000,29.360000
max,NaN,NaN,NaN,NaN,NaN,22638.480000,14.000000,8399.980000

For monthly sale and yearly sale we need to extract year and month from date

In [45]:
data["Order Date"]=pd.to_datetime(data["Order Date"],format="%d-%m-%Y")
data["Year"]=data["Order Date"].dt.year
data["Month"]=data["Order Date"].dt.month
data

,Order Date,Customer Name,State,Category,Sub-Category,Sales,Quantity,Profit,Year,Month
0,2014-01-03,Darren Powers,Texas,Office Supplies,Paper,16.45,2,5.55,2014,1
1,2014-01-04,Phillina Ober,Illinois,Office Supplies,Labels,11.78,3,4.27,2014,1
2,2014-01-04,Phillina Ober,Illinois,Office Supplies,Storage,272.74,3,-64.77,2014,1
3,2014-01-04,Phillina Ober,Illinois,Office Supplies,Binders,3.54,2,-5.49,2014,1
4,2014-01-05,Mick Brown,Pennsylvania,Office Supplies,Art,19.54,3,4.88,2014,1
...,...,...,...,...,...,...,...,...,...,...
9989,2017-12-30,Patrick O'Donnell,New York,Technology,Phones,90.93,7,2.73,2017,12
9990,2017-12-30,Patrick O'Donnell,New York,Office Supplies,Binders,52.78,3,19.79,2017,12
9991,2017-12-30,Erica Bern,California,Office Supplies,Binders,13.90,2,4.52,2017,12
9992,2017-12-30,Erica Bern,California,Office Supplies,Binders,20.72,2,6.48,2017,12
9993,2017-12-30,Jill Matthias,Colorado,Office Supplies,Fasteners,3.02,3,-0.60,2017,12

# Question

# 1)How many unique customers are there in the dataset?

In [28]:
data["Customer Name"].nunique()

793

# 2)Which state has the highest number of sales?

In [52]:
d=data.groupby('State')["Sales"].sum().sort_values(ascending=False).head(1)
d

State
California    457687.68
Name: Sales, dtype: float64

# 3)What is the total profit for each state?

In [53]:
data.groupby("State")["Profit"].sum().sort_values(ascending=False)

State
California              76381.60
New York                74038.64
Washington              33402.70
Michigan                24463.15
Virginia                18598.00
Indiana                 18382.97
Georgia                 16250.08
Kentucky                11199.70
Minnesota               10823.22
Delaware                 9977.37
New Jersey               9772.91
Wisconsin                8401.78
Rhode Island             7285.64
Maryland                 7031.20
Massachusetts            6785.55
Missouri                 6436.19
Alabama                  5786.85
Oklahoma                 4853.98
Arkansas                 4008.65
Connecticut              3511.44
Nevada                   3316.76
Mississippi              3172.98
Utah                     2546.56
Vermont                  2244.98
Louisiana                2196.09
Nebraska                 2037.10
Montana                  1833.32
South Carolina           1769.08
New Hampshire            1706.50
Iowa                     1183.81
New Mexico               1157.13
District of Columbia     1059.59
Kansas                    836.45
Idaho                     826.73
Maine                     454.50
South Dakota              394.84
North Dakota              230.14
West Virginia             185.93
Wyoming                   100.20
Oregon                  -1190.48
Florida                 -3399.25
Arizona                 -3427.87
Tennessee               -5341.66
Colorado                -6527.86
North Carolina          -7490.81
Illinois               -12607.89
Pennsylvania           -15560.04
Ohio                   -16971.37
Texas                  -25729.29
Name: Profit, dtype: float64

# 4)On which date were the highest sales recorded?

In [55]:
data.groupby("Order Date")["Sales"].sum().sort_values(ascending=False).head(1)

Order Date
2014-03-18    28106.73
Name: Sales, dtype: float64

# 5)How many orders have a negative profit?

In [59]:
data[data["Profit"]<0].shape[0]

1871

# 6)Which category has the highest sales?

In [60]:
data.groupby("Category")["Sales"].sum().sort_values(ascending=False).head(1)

Category
Technology    836154.1
Name: Sales, dtype: float64

# 7)For which sub-category is the profit margin (Profit/Sales) the highest?

In [65]:
data["profit_margin"]=data["Profit"]/data["Sales"]
data.groupby("Sub-Category")["profit_margin"].sum().sort_values(ascending=False).head(1)

Sub-Category
Paper    583.061209
Name: profit_margin, dtype: float64

# 8)What is the average profit per order?

In [64]:
np.round(data["Profit"].mean())

29.0

# 9)Which year had the highest sales?

In [67]:
data.groupby("Year")["Sales"].sum().sort_values(ascending=False).head(1)

Year
2017    733215.19
Name: Sales, dtype: float64

# 10)Which month in 2015 had the least number of unique customers?

In [70]:
data.groupby(["Year","Month"])["Customer Name"].nunique().sort_values().head(1)

Year  Month
2014  2        27
Name: Customer Name, dtype: int64

# 11)How many orders were made in the second half of the year (Jul-Dec)?

In [76]:
data[(data["Month"]>=7)&(data["Month"]<12)].groupby(["Year"]).size()

Year
2014    1041
2015    1082
2016    1306
2017    1660
dtype: int64

# 12)What's the average profit in the month of November?

In [79]:
np.round(data[data["Month"]==11]["Profit"].mean())

24.0

In [80]:
data[data["Month"]==11].groupby("Year")["Profit"].mean()

Year
2014    29.220597
2015    38.502469
2016    10.841757
2017    21.111329
Name: Profit, dtype: float64

# 13)In which month and year was the profit to sales ratio the highest?

In [82]:
data.groupby(["Year","Month"])["profit_margin"].sum().sort_values(ascending=False).head(1)

Year  Month
2017  9        68.36559
Name: profit_margin, dtype: float64

# 14)In which month of 2014 did the office supplies category have the lowest sales?

In [87]:
c=data[(data["Year"]==2014) & (data["Category"]=="Office Supplies")]
c.groupby("Month")["Sales"].sum().sort_values().head(1)

Month
2    1071.75
Name: Sales, dtype: float64

# 15)Which customer made the most number of orders in 2014?

In [90]:
data[data["Year"]==2014].groupby("Customer Name").size().sort_values(ascending=False).head(1)

Customer Name
Sam Craven    16
dtype: int64